@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import "tailwindcss";

 
@theme {
    --font-Fugaz: "Fugaz One", sans-serif;
    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-nova: #D84E2C;
}